/* Import utilities and base */
/* ------------------------------------ RESET CSS ------------------------------------ */
* {
  padding: 0;
  margin: 0; }

/* Import overall layout styles */
/* ------------------------------------ HEADER ------------------------------------ */
.header__layout {
  grid-area: header; }

.header__background {
  background-image: linear-gradient(#9a0414, #560303); }

.header__main {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(#9a0414, #560303);
  /* background-image: linear-gradient(rgb(2, 2, 2),  rgb(20, 13, 13)); */
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  position: fixed; }

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: lighter;
  color: white; }
  .header__logo p {
    margin-bottom: 0; }
  .header__logo img {
    height: 4rem;
    width: 6rem;
    padding-right: 1rem; }

.header__navList {
  display: flex;
  flex-direction: row;
  list-style: none; }
  .header__navList li {
    font-size: 1.3rem;
    padding: 1rem; }
  .header__navList li:hover {
    animation: headShake;
    animation-duration: 1s; }
  .header__navList a {
    text-decoration: none;
    color: #f5f5f5; }
  .header__navList button {
    background-color: #d91b0c; }

@media all and (min-width: 992px) {
  .header__flex {
    justify-content: flex-end; } }

@media all and (max-width: 478px) {
  .header__logo {
    font-size: 0.9em; } }

@media all and (max-width: 357px) {
  .header__logo p {
    display: none; } }

/* ------------------------------------ FOOTER ------------------------------------ */
.footer__layout {
  grid-area: footer;
  margin-top: auto; }

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(360deg, #9a0414, #560303);
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5; }
  .footer__main p {
    padding: 0.5rem;
    margin-bottom: 0; }

.footer__icons img {
  padding: 0.5rem 2rem 0.5rem 2rem; }

.footer__icons-ldn {
  content: url("../images/linkedin_logo.png");
  max-width: 110px; }

.footer__icons-ghb {
  content: url("../images/github_logo.png");
  max-width: 110px; }

.footer__icons-igm {
  content: url("../images/ig_logo.png");
  max-width: 110px; }

@media all and (max-width: 845px) {
  .footer__main {
    flex-direction: column; }
  .footer__icons img {
    padding: 0.75rem;
    max-width: 75px; }
  .footer_mobileMenu {
    display: flex; } }

@media all and (max-width: 478px) {
  .footer__main p {
    text-align: center; } }

/* ------------------------------------ BODY ------------------------------------ */
html,
body {
  max-width: 100%;
  overflow-x: hidden; }

.body__homePage {
  background-image: url("../images/home_background_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }

.layout {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif; }

/* ------------------------------------ MAIN ------------------------------------ */
.main__layout {
  grid-area: main; }

.pageSection {
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-top: auto;
  padding: 2rem; }

.content__navPage {
  display: none;
  font-weight: 600;
  font-size: x-large; }
  .content__navPage p a {
    text-decoration: none;
    color: #eb3223; }
  .content__navPage img {
    margin-top: 2rem; }

@media all and (max-width: 845px) {
  .content__navPage {
    display: block;
    text-align: center;
    margin-bottom: 5rem; } }

/* Import pages styles */
/* -------------- HOME -------------- */
.contentHome {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-top: auto; }
  .contentHome h2 {
    padding-bottom: 1rem; }
  .contentHome__motto {
    color: #d61225;
    font-style: italic;
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 2rem;
    text-align: center; }
  .contentHome__welcomeText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    width: 50%;
    text-align: justify;
    margin: 0.5rem;
    padding: 2rem 2rem 6rem 4rem;
    line-height: 1.8em;
    color: #000000; }
  .contentHome h2 {
    animation: lightSpeedInLeft;
    animation-duration: 2s; }

@media all and (max-width: 845px) {
  .contentHome__welcomeText {
    text-align: justify;
    padding: 0;
    margin: 5rem auto;
    width: 75%; }
  .contentHome h2 {
    text-align: center; } }

/* -------------- ABOUT -------------- */
.contentAbout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: x-large; }
  .contentAbout__text {
    margin: 0 auto 0 auto;
    padding: 1rem;
    width: 50%; }
  .contentAbout img {
    height: 450px;
    margin: auto 3rem auto; }

@media all and (max-width: 845px) {
  .contentAbout {
    flex-direction: column-reverse; }
    .contentAbout__text {
      width: 75%; }
  .pageSection h1 {
    text-align: center;
    font-size: 2em; } }

@media all and (max-width: 478px) {
  .contentAbout__text {
    width: 100%;
    font-size: large; }
  .contentAbout img {
    height: 100%;
    width: 100%; } }

/* -------------- SERVICES -------------- */
.contentServices__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: larger;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 0;
  align-items: flex-end; }
  .contentServices__list span {
    text-align: center;
    margin-top: 1rem; }
  .contentServices__list p {
    font-size: smaller;
    font-weight: 400;
    text-align: justify;
    width: 75%;
    padding-top: 1rem; }
  .contentServices__list img {
    height: 65%;
    width: 65%; }

.contentServices__listDataAnalytics {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contentServices__listLowCode {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contentServices__listWebDev {
  display: flex;
  flex-direction: column;
  align-items: center; }

@media all and (max-width: 1122px) {
  .contentServices h1 {
    text-align: center; }
  .contentServices__list {
    flex-direction: column; }
    .contentServices__list li {
      padding-top: 2rem; } }

@media all and (max-width: 478px) {
  .contentServices__list img {
    height: 50%;
    width: 50%; } }

/* -------------- PROJECTS -------------- */
.contentProjects {
  display: flex;
  flex-direction: column;
  list-style: none; }
  .contentProjects h3 {
    margin: 2rem 0 1rem 0;
    text-align: center; }
  .contentProjects img {
    height: 200px; }
  .contentProjects__listItem {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center; }
    .contentProjects__listItem p {
      text-align: justify;
      padding: 1rem; }

@media all and (max-width: 845px) {
  .contentProjects__listItem {
    flex-direction: column; }
  .contentProjects ul {
    padding-left: 0; } }

@media all and (max-width: 478px) {
  .contentProjects img {
    height: 75%;
    width: 75%; } }

/* -------------- CONTACT -------------- */
#contact h1 {
  padding-bottom: 1rem; }

.form__button {
  background-color: #d91b0c;
  width: 150px; }
  .form__button:focus {
    background-color: #000000; }
