/* Colors */

$header-background: linear-gradient(#9a0414, #560303);
$footer-background: linear-gradient(360deg, #9a0414, #560303);
$hamburger-background: #d91b0c;
$submit-button-background: linear-gradient(90deg, #9a0414, #560303);
$reset-button-background: linear-gradient(90deg, #560303, #9a0414);