/* ------------------------------------ BODY ------------------------------------ */

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.body {
	&__homePage {
		background-image: url("../images/home_background_2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
	}
}

.layout {
	display: grid;
	grid-template-areas: "header header header" "main main main" "footer footer footer";
	min-height: 100vh;
	font-family: $font-stack;
    color: $primary-color;
}