/* ------------------------------------ FOOTER ------------------------------------ */

.footer {
	&__layout {
		grid-area: footer;
		margin-top: auto;
	}

	&__main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-image: $footer-background;
		color: $secondary-color;

		& p {
			padding: 1rem;
			margin-bottom: 0;
		}
	}

    $icons: (ldn: url("../images/linkedin_logo.png"), ghb: url("../images/github_logo.png"), igm: url("../images/ig_logo.png"));
	
    &__icons {
		& img {
			padding: 0.5rem 2rem 0.5rem 2rem;
		}

		&-ldn {
			content: map-get($icons, ldn);
            max-width: 110px;
		}

		&-ghb {
			content: map-get($icons, ghb);
            max-width: 110px;
		}

		&-igm {
			content: map-get($icons, igm);
            max-width: 110px;
		}
	}
}



@include respond(medium) {
	.footer {
		&__main {
			flex-direction: column;
		}

		&__icons {

            & img {
			padding: 0.75rem;
            max-width: 75px;

		}

        } 

		&_mobileMenu {
			display: flex;
		}
	}
}

@include respond(small) {
	.footer {
		&__main {
			& p {
				text-align: center;
			}
		}
	}
}
