/* ------------------------------------ HEADER ------------------------------------ */

.header {
	&__layout {
		grid-area: header;
	}

	&__background {
		background-image: $header-background;
	}

	&__main {
		display: flex;
		flex-direction: row;
		height: 5rem;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		position: fixed;
	}

	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1.2em;
		font-style: italic;
		font-weight: lighter;
		color: white;

		& p {
			margin-bottom: 0;
		}

		& img {
			height: 4rem;
			width: 6rem;
			padding-right: 1rem;
		}
	}

	&__navList {
		display: flex;
		flex-direction: row;
		list-style: none;

		& li {
			font-size: 1.3rem;
			padding: 1rem;
		}

		& li:hover {
			animation: headShake;
			animation-duration: 1s;
		}

		& a {
			text-decoration: none;
			color: $secondary-color;
		}

		& button {
			background-color: $hamburger-background;
		}
	}
}

@include respond(extra-large) {
	.header__flex {
		justify-content: flex-end !important;
	}
}

@include respond(small) {
	.header {
		&__logo {
			font-size: 0.9em;
		}
	}
}

@include respond(extra-small) {
	.header {
		&__logo p {
			display: none;
		}
	}
}