/* ------------------------------------ MAIN ------------------------------------ */

.main__layout {
	grid-area: main;
}

.pageSection {
	flex-direction: column;
	font-family: $font-stack;
    color: $primary-color;
	margin-top: auto;
	padding: 2rem;
}

.content__navPage {
	display: none;
	font-weight: 600;
	font-size: x-large;

	& p a {
		text-decoration: none;
		color: $emphasis-color;
	}

	& img {
		margin-top: 2rem;
	}
}

@include respond(large){
	.content__navPage {
		display: block;
		text-align: center;
		margin-bottom: 5rem;
	}
}