/* -------------- CONTACT -------------- */

#contact {
	& h1 {
		padding-bottom: 1rem;
	}
}

.form__button {
	width: 150px;
	margin: 1.2rem 0.5rem 1rem 0 !important;
	border: none;

	&:focus {

		box-shadow: none;
		border: solid 5px #565454;
	}

	&--submit {
		@extend .form__button;
		background-image: linear-gradient(90deg, #9a0414, #560303);

	}

	&--reset {
		@extend .form__button;
		background-image: linear-gradient(90deg, #560303, #9a0414);

	}
}
